.mainContainer{
  display: flex;
}
.leftContainer{
width: 25vw;
overflow: hidden;
}
.midContainer{
  width: 37.5vw;
  }
.rightContainer{
  width: 37.5vw;
  overflow: hidden
}
.addContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom:  0.3px solid rgb(158, 158, 158);
    border-left:  0.3px solid rgb(158, 158, 158);
    border-right:  0.3px solid rgb(197, 196, 196);
    height: 25vh
}
.inputAdd{
  width: 300px;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-left: none;
  border-top: none;
  border-right: none;
  margin-bottom: 5px;
  padding: 8px;
  background-color: transparent;
  outline-width: 0;
  color: white;
}
.btnTweet{
  background-color: rgb(89, 89, 241);
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 8px;
  color: white;

}
.titleComponent{
  color: white;
  align-self: baseline;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.lengthText{
  color: white;
  font-size: 14px;
  opacity: 70%;
  margin-right: 20px;
}
.btnAndTxt{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}
.tweetContainer{
  height: 75vh;
  overflow-y: scroll;
}
.tweetContainer::-webkit-scrollbar {
  width: 0px;
}